# Dependencies for development and tests.
black
# TODO remove the following line once pip-tools is compatible with pip 26.0,
# see https://github.com/jazzband/pip-tools/issues/2319
pip==25.3
flake8 
isort
mock
pip-tools
pytest
pytest-cov
pytest-flake8
pytest-qt
wheel
